.keret {
    width: 80%;
    margin: 0 auto;
}
body{
    background-image: url(hatterkep.jpg);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

.jobbrakep {
    float: right;
}